/*
****************************
    Author: Akshit Ahuja
    Version: 1.0
    Profile Link: https://github.com/akshitahuja
****************************
*/

* {
    margin: 0;
    padding: 0;
}
body {
    background: url('../../assets/images/background.jpg');
}